<!DOCTYPE html>
<html ng-app="demo">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../src/ht-table.css" />
</head>
<body ng-controller="DemoCtrl">
<div ht-table="settings" ng-model="data"></div>
{{settings.filters}}
{{settings.sorting}}
<button ng-click="change()">Zmień</button>
<button ng-click="addFilter()">Dodaj filtr</button>
<button ng-click="addSelectFilter()">Dodaj filtr2</button>
<button ng-click="addSort()">Dodaj sortowanie</button>
<button ng-click="addColumn()">Dodaj kolumnę</button>

<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="../bower_components/ng-csv/build/ng-csv.min.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="../dist/ht-table.js"></script>
<script src="demo.js"></script>
</body>
</html>