<div class="form-inline" ng-repeat="filter in htTable.filters">
    <div class="form-group">
        <select class="form-control"
                ng-model="filter.filter"
                ng-change="htTable.updateFilter()"
                ng-options="filterType.value as filterType.name for filterType in htTable.filterTypes"></select>
    </div>
    <div class="form-group">
        <select class="form-control"
                ng-model="filter.field"
                ng-change="htTable.updateFilter()"
                ng-options="field.field as field.name for field in htTable.filterFields"></select>
    </div>
    <div class="form-group">
        <input class="form-control"
               ng-change="htTable.updateFilter()"
               type="text"
               ng-model="filter.value"
               ht-focus />
    </div>
    <div class="form-group"><span class="glyphicon glyphicon-remove-circle" ng-click="htTable.removeFilter($index)"></span></div>
</div>
<button type="button" class="btn btn-default" ng-click="htTable.addFilter()">Dodaj filtr</button>
<h4 ng-repeat-start="field in htTable.selectFilters">{{field.name}}</h4>
<div class="btn-group" ng-repeat-end="">
    <label ng-repeat="option in field.options" class="btn btn-success" ng-change="htTable.updateFilter()" ng-model="option.selected" btn-radio="1" btn-checkbox>{{option.name}}</label>
</div>