<tr>
    <th>
        <div dropdown class="btn-group" is-open="htTable.isOpen">
            <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle=""><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
            <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                <li ng-repeat="field in htTable.fields"><label><input type="checkbox" ng-model="field.visible">{{field.name}}</label></li>
                <button class="btn btn-primary" ng-csv="htTable.export()" csv-header="htTable.exportHeader()" filename="export.csv">Eksportuj</button>
            </ul>
        </div>
    </th>
    <th ng-if="htTable.selectMultiple()">
        <input type="checkbox" ng-model="htTable.allSelected" ng-change="htTable.selectAll()">
    </th>
    <th ng-repeat="field in htTable.fields | field" ng-click="htTable.changeSorting(field, $event)" ng-class="htTable.getFieldClass(field)" style="cursor:pointer">
        {{field.name}}
    </th>
</tr>