<div id="exportable{{htTable.settings.id}}">
<div ng-class="{'table-responsive': !htTable.isOpen}" style="padding-bottom: 50px">
    <table class="table table-bordered" id="{{htTable.settings.id}}" ng-class="table.class">
        <thead ng-include="'ht-table/header.html'"></thead>
        <tbody>
        <tr ng-repeat-start="row in htTable.data" ng-class="htTable.rowStyle(row)">
            <td>{{ htTable.getIndex() + $index + 1 }}.</td>
            <th scope="row" ng-if="htTable.selectMultiple()" ng-include="'ht-table/checkbox.html'"></th>
            <td ng-repeat="field in htTable.fields | field" ng-click="htTable.expand(row)">
                <div ng-if="field.template" ht-table-template="field.template" custom-scope="htTable.customScope" ng-model="row"></div>
                <div ng-if="!field.templateUrl && !field.template" ng-class="{'row-number': htTable.isNumber(field)}">{{htTable.getValue(field, row)}}</div>
                <div ng-if="field.templateUrl" ng-click="$event.stopPropagation()" ng-include="field.templateUrl" onload="customScope = htTable.customScope"></div>
            </td>
        <tr ng-repeat-end="" ng-if="htTable.expanded == row" class="option-expand">
            <td colspan="{{htTable.countColumns()}}"><div ui-view></div></td>
        </tr>
        </tbody>
        <tfoot ng-if="htTable.hasSum()" class="option-footer">
        <tr>
            <td>&nbsp;</td>
            <td ng-if="htTable.selectMultiple()">&nbsp;</td>
            <td ng-repeat="field in htTable.fields | field">
                <span ng-if="field.type && (field.type == 'sum' || field.type.indexOf('sum') !== -1)">
                    Suma: {{htTable.sum(field)}} <br />
                </span>
                <span ng-if="field.type && (field.type == 'avg' || field.type.indexOf('avg') !== -1)">
                    Średnia: {{htTable.avg(field)}}
                </span>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="row option-pagination" ng-include="'ht-table/pagination.html'" ng-if="htTable.showPagination()"></div>
</div>